<div class="ui page grid" id="profile-grid">
	<div class="twelve centered wide column" style="margin-top: 100px" >
		<div class="ui fluid card">
  			<div class="content">
  			<h1 class="header" style="font-size: 1.5em"><i class="paint brush icon"></i> Cisco Directory ETC Sync Tool</h1>
				<div class="ui grid" style="margin-top: 5px">
					<div class="two column row">
						<div class="column">
						#parse('project/project-details.vm')
						</div>
						<div class="column">
						#parse('project/project-team-lead.vm')
						</div>
					</div>
					<div class="ui fluid card">
		ssd
		</div>
  				</div>
 			</div>
		</div>
	</div>
</div><!-- end of page grid -->