
<div class="ui two column grid">   

<div class="column">
<div class="ui divided list"><!-- list -->
  <div class="item org header">
    <a class="ui yellow image label">
      <img src="/images/$person.photo">
      <span style="color: white">$person.firstName $person.lastName&nbsp&nbsp</span><i class="gb flag"></i>
      <div class="detail" style="color: white">Java Developer Group (9)</div>
      </a>
    <div class="content">
      <div class="show-actions">
    <a class="expand">Expand <i class="caret down icon"></i></a>
  </div>
    </div>
  </div>
  <div class="item hidden">
    <i class="angle double up icon"></i>
    <div class="content">
      <a class="header">Karl Timberland <i class="gb flag"></i></a>
      <div class="description">Team Lead</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Sal Umon <i class="gb flag"></i></a>
      <div class="description">QA Engineer in Test</div>
    </div>
  </div>

  <div class="item hidden">
    <div class="content">
      <a class="header">Austin Moorish <i class="gb flag"></i></a>
      <div class="description">Civil Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Kaycee Rodriguez <i class="china flag"></i></a>
      <div class="description">IT Analyst</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Justin Williamson <i class="us flag"></i></a>
      <div class="description">Data Scientist</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Nick Morintino <i class="us flag"></i></a>
      <div class="description">Project Manager</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Savannah Gorgionna <i class="gb flag"></i></a>
      <div class="description">IT Analyst</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">John Timson <i class="gb flag"></i></a>
      <div class="description">Senior Software Engineer</div>
    </div>
  </div>
</div><!-- end of list -->
</div><!-- end of column-->


<div class="column">
<div class="ui divided list"><!-- list -->
  <div class="item org header">
    <a class="ui blue image label">
      <img src="/images/profile3.jpg">
      <span style="color: white">Linda Summers&nbsp&nbsp</span><i class="us flag"></i>
      <div class="detail" style="color: white">Spring Boot Software Engineers (6)</div>
      </a>
    <div class="content">
      <div class="show-actions">
        <a class="expand">Expand<i class="caret down icon"></i></a>
      </div>
    </div>
  </div>
  <div class="item hidden" style="background: #fff8db">
    <i class="angle double up icon"></i>
    <div class="content" >
      <a class="header">$person.firstName $person.lastName <i class="gb flag"></i></a>
      <div class="description">Team Lead</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Carmen Diego <i class="us flag"></i></a>
      <div class="description">It Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Fessal Juik <i class="us flag"></i></a>
      <div class="description">Architect</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Marcus Dillani <i class="us flag"></i></a>
      <div class="description">Systems Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Adam Bando <i class="china flag"></i></a>
      <div class="description">Business Developer</div>
    </div>
  </div>
</div><!-- end of list -->
</div><!-- end of column-->

<div class="column">
<div class="ui divided list"><!-- list -->
  <div class="item org header">
    <a class="ui blue image label">
      <img src="/images/profile6.jpg">
      <span style="color: white">Jim Johnson&nbsp&nbsp</span><i class="us flag"></i>
      <div class="detail" style="color: white">Rock n' Robots (5)</div>
      </a>
    <div class="content">
    <div class="show-actions">
    <a class="expand">Expand<i class="caret down icon"></i></a>
  </div>
    </div>
  </div>
  <div class="item hidden">
    <i class="angle double up icon"></i>
    <div class="content">
      <a class="header">Mike Smith <i class="us flag"></i></a>
      <div class="description">Team Lead</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content" style="background: #fff8db">
      <a class="header">$person.firstName $person.lastName <i class="gb flag"></i></a>
      <div class="description">IT Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Tim Johnson <i class="us flag"></i></a>
      <div class="description">Automation & Infrastructure Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Sal Umon <i class="gb flag"></i></a>
      <div class="description">QA Engineer in Test</div>
    </div>
  </div>
</div><!-- end of list -->
</div><!-- end of column-->

<div class="column">
<div class="ui divided list"><!-- list -->
  <div class="item org header">
    <a class="ui blue image label">
      <img src="/images/profile5.jpg">
      <span style="color: white">Bill Reiley&nbsp&nbsp</span><i class="india flag"></i>
      <div class="detail" style="color: white">Critical Continuous Delivery (17)</div>
      </a>
    <div class="content">
      <div class="show-actions">
        <a class="expand">Expand<i class="caret down icon"></i></a>
      </div>
    </div>
  </div>
  <div class="item hidden">
    <i class="angle double up icon"></i>
    <div class="content">
      <a class="header">Karl Timberland <i class="gb flag"></i></a>
      <div class="description">Team Lead</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content" style="background: #fff8db">
      <a class="header">$person.firstName $person.lastName <i class="gb flag"></i></a>
      <div class="description">QA Engineer in Test</div>
    </div>
  </div>

  <div class="item hidden">
    <div class="content">
      <a class="header">Karl Timberland <i class="gb flag"></i></a>
      <div class="description">IT Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Sal Umon <i class="gb flag"></i></a>
      <div class="description">QA Engineer in Test</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Karl Timberland <i class="gb flag"></i></a>
      <div class="description">IT Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Sal Umon <i class="gb flag"></i></a>
      <div class="description">QA Engineer in Test</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Karl Timberland <i class="gb flag"></i></a>
      <div class="description">IT Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Sal Umon <i class="gb flag"></i></a>
      <div class="description">QA Engineer in Test</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Karl Timberland <i class="gb flag"></i></a>
      <div class="description">IT Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Sal Umon <i class="gb flag"></i></a>
      <div class="description">QA Engineer in Test</div>
    </div>
  </div>

  <div class="item hidden">
    <div class="content">
      <a class="header">Karl Timberland <i class="gb flag"></i></a>
      <div class="description">IT Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Sal Umon <i class="gb flag"></i></a>
      <div class="description">QA Engineer in Test</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Karl Timberland <i class="gb flag"></i></a>
      <div class="description">IT Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Sal Umon <i class="gb flag"></i></a>
      <div class="description">QA Engineer in Test</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Karl Timberland <i class="gb flag"></i></a>
      <div class="description">IT Engineer</div>
    </div>
  </div>
  <div class="item hidden">
    <div class="content">
      <a class="header">Sal Umon <i class="gb flag"></i></a>
      <div class="description">QA Engineer in Test</div>
    </div>
  </div>
</div><!-- end of list -->
</div><!-- end of column-->

</div>

<script>
$(".hidden").hide();
</script>
<script>
  $(document.body).on('click', '.expand', function() {
    var $list = this.closest('div.ui.divided.list');
    $($list).find(".item").show();
    $($list).find("a.expand").replaceWith('<a class="collapse">Collapse<i class="caret up icon"></i></a>');
  });
</script>
<script>
  $(document.body).on('click', '.collapse', function() {
    var $list = this.closest('div.ui.divided.list');
    $($list).find(".item:not(.item.org.header)").hide();
    $($list).find("a.collapse").replaceWith('<a class="expand">Expand<i class="caret down icon"></i></a>');
  });
</script>