<div class="ui page grid">

  <div class="row">
    <div class="ten wide column left aligned">
        #parse("dashboard/favorites_panel.vm")
    </div><!-- end of recent searches column-->

      <div class="six wide column left aligned">
          #parse("dashboard/teams_panel.vm")
         </div><!-- end of recent searches column-->
      </div><!-- end of row -->
    <div class="row">
        <div class="sixteen wide column left aligned">
            #parse("dashboard/projects_panel.vm")
        </div><!-- end of recent searches column-->
    </div>


</div><!-- end of grid -->








<!-- End of Body -->
</div>

#parse('dashboard/favorites_view_all_modal.vm')



<script>
    $("#view-more-favorites").click(function() {
        $('.ui.modal').modal('show');
        });
</script>




